body{
    background-color: black;
}

.gifs{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gifs{
    padding: 0 2px;
}

.loader{
    color: blue;
}

.header{
    /* color: white; */
    color: rgb(255, 252, 47);
    text-align: center;
    justify-content: center;
}
